{{layout "base"}}

<section>

<h3>
  Please login with your bugzilla credentials.
</h3>

<p>
  I have to store your password for now until bugzilla fixes its API
  to support cookie-based authentication for various calls. The system
  is built to avoid saving passwords and only work with cookies, so
  when it's ready I can get rid of storing passwords.
</p>

<p>
  I don't encourage this to be publicly used until the password issue
  it fixed. Please run it locally.
</p>

{{if error}}
<p class="error">
  Invalid username/password.
</p>
{{/if}}

<form action="" method="POST">
  <div><span>Username:</span><input type="text" name="user" /></div>
  <div><span>Password:</span><input type="password" name="pass" /></div>
  <input type="submit" value="Login" />
</form>

</section>

