{{layout "base"}}

<section>

<h3>
  Please login with your bugzilla credentials.
</h3>

<p>
  <strong>I do not store them.</strong> This is the exact same as
  logging into the real bugzilla.
</p>

{{if error}}
<p class="error">
  Invalid username/password.
</p>
{{/if}}

<form action="" method="POST">
  <div><span>Username:</span><input type="text" name="user" /></div>
  <div><span>Password:</span><input type="password" name="pass" /></div>
  <input type="submit" value="Login" />
</form>

</section>

